@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,200,300);
body {
  background: transparent url(img/background.png);
  color: #fff;
  font-family: Source Sans Pro; }
  body .logo {
    position: absolute;
    left: 100px;
    top: 0;
    background: transparent url(img/logoTab.png);
    width: 119px;
    height: 151px; }
  body .current {
    position: absolute;
    top: 135px;
    left: 600px;
    width: 600px;
    text-align: center; }
    body .current img {
      width: 200px;
      height: 200px;
      border-radius: 110px;
      -webkit-border-radius: 110px;
      -moz-border-radius: 110px;
      background: url(http://link-to-your/image.jpg) no-repeat;
      border: 9px solid #fff; }
    body .current .crown {
      background: transparent url(./img/crownBig.png) 0 0 no-repeat;
      width: 148px;
      height: 134px;
      position: absolute;
      top: -84px;
      right: 155px;
      z-index: -1; }
    body .current p {
      margin: 18px 0 0 0; }
    body .current .awardTitle {
      font-size: 27px;
      font-weight: 200; }
    body .current .name {
      font-size: 45px;
      color: #f38529;
      font-weight: 700; }
    body .current .commitCount {
      font-size: 14px;
      font-weight: 200; }

.meta {
  font-family: Source Sans Pro; }

.lead {
  font-family: Source Sans Pro; }

.coder {
  font-family: Source Sans Pro; }
