body {
  background: transparent url(img/background.png);
  color: #fff;
  font-family: Lucida Grande; }
  body .logo {
    position: absolute;
    left: 100px;
    top: 0;
    background: transparent url(img/logoTab.png);
    width: 119px;
    height: 151px; }
  body .current {
    position: absolute;
    top: 135px;
    left: 600px;
    width: 600px;
    text-align: center; }
    body .current img {
      width: 300px;
      height: 300px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      background: url(http://link-to-your/image.jpg) no-repeat; }
    body .current .crown {
      background: transparent url(./img/crownBig.png) 0 0 no-repeat;
      width: 148px;
      height: 134px;
      position: absolute;
      top: -84px;
      right: 130px;
      z-index: -1; }
    body .current .awardTitle {
      font-size: 27px;
      font-weight: ligther; }
    body .current .name {
      font-size: 45px;
      color: #f38529;
      font-weight: bold; }
    body .current .commitCount {
      font-size: 14px; }

.meta {
  font-family: Lucida Grande; }

.lead {
  font-family: Lucida Grande; }

.coder {
  font-family: Lucida Grande; }
