<f:layout name="Default"/>

<f:section name="Title">
	<f:translate id="titleCoderOfTheMonth" />
</f:section>

<f:section name="Content">
	<p class="notice">
		<f:translate id="noticeTextSummary" arguments="{numberOfCommits: numberOfCommits, numberOfActiveRepositories: numberOfActiveRepositories, numberOfMonitoredRepositories: numberOfMonitoredRepositories, numberOfCommitters: numberOfCommitters}"/>
	</p>

	<f:render partial="Award" arguments="{award: coderOfTheMonthAward, class: 'current', size: 400}" />
	<div class="month">
		<f:format.date format="F Y">{coderOfTheMonthAward.month}</f:format.date>
	</div>

	<div class="topicAwards">
		<ul class="topicAwardsSlider">
			<f:for each="{currentTopicAwards}" as="topicAward">
				<li class="award">
					<f:render partial="TopicAward" arguments="{award: topicAward, size: 100}" />
				</li>
			</f:for>
		</ul>
	</div>
</f:section>