<f:layout name="Default"/>

<f:section name="Title">Coder of The Month</f:section>

<f:section name="Content">
	<div class="row-fluid">
		<p class="lead">Last month we've seen {numberOfCommits} commits within {numberOfActiveRepositories} of the {numberOfMonitoredRepositories} monitored repositories.</p>
	</div>
	<div class="row-fluid">
		<div class="span8">
			<div class="row-fluid">
			<f:for each="{coderOfTheMonthAwards}" as="award">
				<f:if condition="{coderOfTheMonthAwards.first} == {award}">
					<f:then>
						<f:render partial="Award" arguments="{award: award, class: 'current', size: 400}" />
					</f:then>
					<f:else>
						<div class="span2">
							<f:render partial="Award" arguments="{award: award, class: '', size: 150}" />
						</div>
					</f:else>
				</f:if>
			</f:for>
			</div>
			<div class="row-fluid">
				<f:for each="{currentTopicAwards}" as="topicAward">
					<div class="span2">
						<f:render partial="TopicAward" arguments="{award: topicAward, size: 100}" />
					</div>
				</f:for>
			</div>
		</div>
		<div class="span4">
			bar
		</div>
	</div>
</f:section>